# Виртуальное окружение
venv/
.env
*.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Логи
*.log

# VS Code / IDE
.vscode/
.idea/

# Flask / uploads
instance/
*.sqlite3
static/uploads/


sendgrid_test.py
